body {
	background-color: white;
}

.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
	/* background-color: aqua; */
}

/************************************************
	Typography (Module 3)
	affexts the styling of text
************************************************/
h1,
h2{
	padding:10px;
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color:#747474;
}

/*********************************************
	Layout
	these rules will affect the phyiscal positioning
		of element they to which they are applied
***********************************************/

nav{
	margin-top:48px;
	background-color: #ddd;
}

header,
main{
	height:480px;
	margin-top: 24px;
	background-color: #ddd;
}

main{
	height: 800px;
}

footer{
	height:150px;
	margin: 24px 0 48px 0;
	background-color: #ddd;
}

/**************************************************
  What is the required width of section?

  box model
	page width = lm + lb + lp + content width + rp + rb + rm
	       960 = 30 + 2 + 0 + content + 0 + 2 + 30
		   960 = width + 64
		   960 - 64 = width
		   896 = width

  **************************************************/

  main section{
	border: 2px solid black;
	margin: 30px;
	height: 200px;
	background-color: white;
	width: 896px;
  }